.image_logement {
    width: 100%;
    height: 295px;
    border-radius: 10px;
}

li {
    width: 29.3%;
    height: 330px;
    padding: 1% 2% 0% 2%;
}

a.logement_style{
    text-decoration: none;
}

.logement_title{
    position: relative;
    top:-90px;
    padding-left: 15px;
    width: 66%;
    color: white;
    font-size: 18px;
}

@media screen and (max-width:700px) {
    li{
        width: 95%;
    }
    p{
        font-size: 20px;
    }
}