footer {
    width: 100%;
    height: 209px;
    position: absolute;
    background-color: black;
}

.footer_home {
    position: absolute;
    width: 100%;
    top: 290%;
}

.LOGO_footer {
    width: 122px;
    left: 44%;
    top: 35%;
    position: absolute;
}

.copyrights {
    top: 135px;
    position: absolute;
    padding-left: 40%;
    width: 300px;
    color: white;
}

@media screen and (max-width:700px) {
    .footer_home{
        top: 850%;
    }
    .LOGO_footer{
        left: 35%;
    }
    .copyrights{
        width: auto;
        padding-left: 15%;
    }
}