.chip {
    background-color: #FF6060;
    color: white;
    width: fit-content;
    height: 18px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 5px 5px 5px 0px;
    font-size: 10px;
  }
  