section{
    position: absolute;
    width: 86%;
    height: 223px;
    top: 171px;
    margin-left: 7%;
}

.banner_img{
    object-fit: fill;
    border-radius: 25px;
    width: 100%;
    height: 223px;
    object-fit: cover;
    filter: brightness(50%);
}

h2{
    width: 705px;
    height:68px;
    position: absolute;
    left: 25.9%;
    right: 25.14%;
    top: 24.32%;
    bottom: 69.04%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;

    display: flex;
    align-items: flex-end;

    color: #FFFFFF;
}

@media screen and (max-width:700px) {
    section{
        width: 91%;
        height: auto;
        top:85px;
        margin-left: 4%;
    }
    .banner_img{
        height: 94px;
        border-radius: 15px;
    }
    h2{
        width: 215px;
        height: 70px;
        left: 25px;
        bottom: 0;
        top:-20%;
        font-size:29px;
        line-height: 100%;
    }
}